html, .colorleft {
    background-color: #004557;
}
section {
    font-family: "Calibri";
}
.profileimage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-top: 20px;
}
.container {
    display: block;
}
hr.solid {
    border-top: 3px solid #ffffff;
    width: 25%
}
.right {
    float: right;
    width: 75%;
    margin: auto;
}
.left {
    float: left; 
    width: 25%;
    margin: auto;
}
.colorright {
    background-color: #F4EBE8;
}
.colorleft, .colorright {
    padding-left: 25px;
}
.about, .counter, .social {
    color: #ffffff;
    padding: 25px;
    text-align: left;
}
.skills, .work {
    padding: 50px;
}
